@tailwind base;
@tailwind components;
@tailwind utilities;


.btn {
    @apply font-bold rounded;
}
.btn-blue {
    @apply bg-blue-500 text-white;
}
.btn-blue:hover {
    @apply bg-blue-600;
}
.btn-yellow {
    @apply bg-yellow-500 text-white;
}
.btn-yellow:hover {
    @apply bg-yellow-600;
}
.btn-white {
    @apply bg-gray-200 text-black rounded-none;
}
.btn-white:hover {
    @apply bg-gray-500;
}

.flex-cc {
    @apply flex items-center align-middle justify-center;
}

.main-blue{
    color: #18A0FB;
}
.main-background-blue{
    background-color: #18A0FB;
}
.main-border-blue{
    border:1px solid #18A0FB;
}

