.text-main {
  color: #1a202c;
}

.bg-header {
  background-color: #ddf9f5;
}

.font-main {
  font-family: "Roboto Condensed", sans-serif;
}

.border-right-none {
  border-right: none;
}

.border-left-none {
  border-left: none;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-open:checked + .carousel-item .carousel-inner-slide {
  transform: scale(1.15, 1.15);
}

.carousel-item {
  transition: opacity 0.6s ease-out;
  -webkit-transition: opacity 0.6s ease-out;
}

.carousel-item #carousel-inner-1 {
  background: url("/assets/images/slide-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 5s 0.5s ease-in-out;
}

@media (min-width: 1125px) {
  .carousel-item #carousel-inner-1 {
    background-size: 100% 100%;
  }
}

.carousel-item #carousel-inner-2 {
  background: url("/assets/images/slide-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 5s 0.5s ease-in-out;
}

@media (min-width: 1125px) {
  .carousel-item #carousel-inner-2 {
    background-size: 100% 100%;
  }
}

.carousel-item .carousel-inner-slide .slide-item-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 590px) {
  .carousel-item {
    height: 75vh !important;
  }
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #2b6cb0;
  /*Set to match the Tailwind colour you want the active one to be */
}

